* {
    font-family: poppins;
}

.container {
    width: 700px;
    margin-top: 10%;
}

ul li {
    margin: 0;
    padding: 0;
    margin-bottom: 8px;
    border-bottom: 1px solid #dc3545;
    list-style: none;
}

ul li:hover {
    background-color: #dc3545;
    color: #eee;
    cursor: pointer;

}